@model IEnumerable<CART.Models.AspNetUser>

@{
    ViewBag.Title = "memberList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>memberList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("編輯", "memberEdit", new { id=item.Id }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
